/**************************************************
 *  GLOBAL
 **************************************************/

body {
	text-align: center;
	padding:0px;
	margin: 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color:#505050;
}

p { margin: 0px;  }
form {margin: 0px; }
img {border: 0px; margin:0px;}
img.center{
	margin-left:auto;
	margin-right:auto;
}
div { margin: 0px; padding: 0px;}
input,button {
	font-size:11px;
	border: 1px solid #242775;
    color:#30507A;
}
button{
	font-size:11px;
	background-color:#7eae19;
	border: 1px solid #7eae19;
	color:#ffffff;
	font-weight:bold;
}
input.button{
	font-size:11px;
	background-color:#7eae19;
	border: 1px solid #7eae19;
	color:#ffffff;
	font-weight:bold;
}
input.checkbox{
	border:0px;
	vertical-align:middle;
}
select{
    font-size:11px;
    border: 1px solid #242775;
    color:#30507A;
    margin-bottom:1px;
}
textarea{
	font-size:11px;
    border: 1px solid #242775;
    color:#30507A;
}

div#outterbox{
	position: relative;
	width: 942px;
	margin: 10px auto;
	text-align: left;
}

div.box{
	float:left;
	width:223px;
	margin:4px 0 0 0;
	padding:0px;
	background:url(../images/box_bgd.jpg);
}
	div.box h1{
		float:left;
		height:23px; /* 40px total */
		width:188px; /* 223px total */
		margin:0px;
		padding:12px 5px 5px 30px;
		background:url(../images/box_header_bgd.jpg);
		background-repeat:no-repeat;
		background-position:top left;
		font-size:11px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	div.box h2{
		float:left;
		width:193px; /* 223px total */
		margin:0 10px 0 5px;
		padding:4px 0 3px 10px;
		/*margin:0 5px 0 5px;
		padding:3px 5px 3px 10px;*/
		background:url(../images/arrow.jpg);
		background-repeat:no-repeat;
		background-position:0px 8px;
		border-bottom:1px dashed #cdcdcd;
		font-size:11px;
		color:#095297;
	}
	div.box h3{
		margin:0;
		padding:0 0 5px 0;
		font-size:11px;
		color:#e37532;
	}
	div.box div.content{
		float:left;
		width:208px; /* 223px total */
		padding: 3px 5px 3px 10px;
		border-bottom:1px dashed #cdcdcd;
		font-size:10px;
	}
	div.box div.content2{ /* More padded in the left to be used with the h2 titles */
		float:left;
		width:199px; /* 223px total */
		padding: 3px 5px 3px 19px;
		font-size:10px;
	}
	div.box div.close_box{
		float:left;
		width:223px;
		height:10px;
		background:url(../images/box_bottom_bgd.jpg);
		background-repeat:no-repeat;
		background-position: bottom left;
	}

div#left_menu{
	float:left;
	width:223px;
	margin:4px 0 0 0;
	padding:0px;
	background:url(../images/box_bgd.jpg);
}
	div#left_menu h1{
		float:left;
		height:23px; /* 40px total */
		width:188px; /* 223px total */
		margin:0px;
		padding:12px 5px 5px 30px;
		background:url(../images/box_header_bgd.jpg);
		background-repeat:no-repeat;
		background-position:top left;
		font-size:11px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	div#left_menu a.menul1{ /* level 1 menu item */
		display:block;
		float:left;
		width:193px; /* 223px total */
		margin:0 10px 0 5px;
		padding:4px 0 3px 10px;
		/*background:url(../images/arrow.jpg);
		background-repeat:no-repeat;
		background-position:3px 8px;*/
		background:url(../images/bgd_menu_off.jpg);
		background-repeat:no-repeat;
		border-bottom:1px dotted #cdcdcd;
		font-size:11px;
		font-weight:bold;
		color:#095297;
		text-decoration:none;
	}
	div#left_menu a.menul1:hover{ /* level 1 menu item */
		/*background:url(../images/arrow_on.jpg);
		background-position:3px 8px;
		background-repeat:no-repeat;
		background-color:#e37532;*/
		background:url(../images/bgd_menu_on.jpg);
		background-repeat:no-repeat;
		font-size:11px;
		font-weight:bold;
		color:#ffffff;
		text-decoration:none;
	}
	div#left_menu a.menul1_on{ /* level 1 menu item */
		display:block;
		float:left;
		width:193px; /* 223px total */
		margin:0 10px 0 5px;
		padding:4px 0 3px 10px;
		/*background:url(../images/arrow.jpg);
		background-repeat:no-repeat;
		background-position:3px 8px;*/
		background:url(../images/bgd_menu_on.jpg);
		background-repeat:no-repeat;
		border-bottom:1px dotted #cdcdcd;
		font-size:11px;
		font-weight:bold;
		color:#ffffff;
		text-decoration:none;
	}
	div#left_menu div.sublevel{ /* Submenu container */
		float:left;
		width:199px; /* 223px total */
		padding: 3px 5px 10px 19px;
		font-size:10px;
	}
		div#left_menu a.menul2{ /* level 2 menu item */
			display:block;
			float:left;
			width:190px; /* 190px total */
			margin:0;
			padding:3px 0 3px 0;
			font-size:11px;
			text-decoration:none;
			color:#505050;
		}
		div#left_menu a.menul2:hover{ /* level 1 menu item */
			background-color:#f0f5f9;
			font-weight:bold;
		}
		div#left_menu a.menul2_on{ /* level 2 menu item */
			display:block;
			float:left;
			width:190px; /* 190px total */
			margin:0;
			padding:3px 0 3px 0;
			font-size:11px;
			text-decoration:none;
			color:#505050;
			background-color:#f0f5f9;
			font-weight:bold;
		}
		div#left_menu a.menul2e{ /* level 2 menu item with level3 menu */
			display:block;
			float:left;
			width:190px; /* 199px total */
			margin:0;
			padding:3px 0 3px 0;
			background:url(../images/bullet_arrow.jpg);
			background-repeat:no-repeat;
			background-position:right 8px;
			font-size:11px;
			text-decoration:none;
			color:#505050;
		}
		div#left_menu a.menul2e:hover{ /* level 1 menu item */
			background-color:#f0f5f9;
			font-weight:bold;
		}
		div#left_menu a.menul2e_on{ /* level 2 menu item with level3 menu */
			display:block;
			float:left;
			width:190px; /* 199px total */
			margin:0;
			padding:3px 0 3px 0;
			background:url(../images/bullet_arrow.jpg);
			background-repeat:no-repeat;
			background-position:right 8px;
			background-color:#f0f5f9;
			font-size:11px;
			text-decoration:none;
			color:#505050;
			font-weight:bold;
		}
			div.menu_submenu{
				position:absolute;
				left:190px;
				width:250px;
				margin:0;
				padding:0;
				background:#ffffff;
				border:1px solid #627282;
				color:#306ca6;
				cursor:pointer;
			}
			div.menu_submenu a{
				display:block;
				width:235px; /* 250px total => refers to div.tab_submenu.width*/
				margin:0;
				padding:3px 10px 3px 5px;
				border-bottom:1px solid #627282;
				text-decoration:none;
				color:#306ca6;
			}
			div.menu_submenu a:hover{
				background:#306ca6;
				color:#ffffff;
			}
			div.menu_submenu p{ /*used when the submenu is empty */
				padding:5px 0 5px 0;
				text-align:center;
				font-style:italic;
			}

	div#left_menu div.menu_close{
		float:left;
		width:223px;
		height:10px;
		padding:0;
		background:url(../images/box_bottom_bgd.jpg);
		background-repeat:no-repeat;
		background-position: bottom left;
	}


/**************************************************
 *  HEADER
 **************************************************/
div#header{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:180px;
}
	div#logo_box{
		float:left;
		width:223px;
		height:175px;
		margin: 0px 9px 0px 0px;
	}
	div#logo_box img{
		margin: 13px auto 28px auto;
	}
		div#search_box{
			float:left;
			width:198px; /* 223px total */
			height:20px; /* 38px total */
			margin:0px;
			padding:8px 10px 10px 15px;
			background:url(../images/search_bgd.jpg);
			background-repeat:no-repeat;
		}
		div#search_box img{
			margin:0 0px 0 0;
			vertical-align:middle;
		}
	div#top_links{
		float:left;
		width:710px;
		height:15px;
		margin: 0;
		padding:0;
		text-align:right;
		font-family:Verdana,Helvetica, sans-serif;
		font-size:9px;
	}
		div#top_links img{
			vertical-align:baseline;
			margin: 0 5px 0 0;
		}

		div#top_links a{
			color:#095297;
			text-decoration:none;
		}

	div#banner_box{
		float:left;
		width:710px;
		height:90px;
		margin: 14px 0px 20px 0px;
		text-align:center;
	}
		img.banner{
			border: 1px solid #183351;
		}
	div#tabs_box{
		float:left;
		width:710px;
		height:40px;
		margin: 0px;
	}
		a.tab_off{
			float:right;
			height:39px; /* 40px total */
			margin:1px 1px 0px 0px;
			background:url(../images/tab_off_bgd1.jpg);
			background-repeat:no-repeat;
			text-decoration:none;
		}
		a.tab_off:hover{
			float:right;
			height:34px; /* 40px total */
			margin:1px 1px 0px 0px;
			padding:6px 0 0 0;
			background:url(../images/tab_on_bgd1.jpg);
			background-repeat:no-repeat;
			background-position:left 2px;
			text-decoration:none;
		}
			a.tab_off b{
				float:left;
				display:block;
				height:16px; /* 39px total */
				margin:0px;
				padding:13px 5px 10px 5px;
				background:url(../images/tab_off_bgd2.jpg);
				background-repeat:no-repeat;
				background-position:top right;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 11px;
				font-weight:bold;
				color:#ffffff;
				cursor:pointer;
			}
			a.tab_off:hover b{
				float:left;
				display:block;
				height:29px; /* 29px total --> refers to a.tab_on.height */
				margin:0px;
				/*padding:19px 5px 5px 5px;*/
				background:url(../images/tab_on_bgd2.jpg);
				background-repeat:no-repeat;
				background-position:right -4px;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 11px;
				font-weight:bold;
				color:#ffffff;
				cursor:pointer;
			}
		a.tab_on{
			float:right;
			height:39px; /* 40px total */
			margin:1px 1px 0px 0px;
			background:url(../images/tab_on_bgd1.jpg);
			background-repeat:no-repeat;
			text-decoration:none;
		}
			a.tab_on b{
				float:left;
				display:block;
				height:15px; /* 39px total --> refers to a.tab_on.height */
				margin:0px;
				padding:19px 5px 5px 5px;
				background:url(../images/tab_on_bgd2.jpg);
				background-repeat:no-repeat;
				background-position:top right;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 11px;
				font-weight:bold;
				color:#ffffff;
				cursor:pointer;
			}
		div.tab_subtab{
			position:absolute;
			top:179px;
			width:250px;
			margin:0;
			padding:0;
			background:#ffffff;
			border:1px solid #627282;
			color:#306ca6;
			cursor:pointer;
		}
		div.tab_subtab a{
			display:block;
			width:235px; /* 250px total => refers to div.tab_submenu.width*/
			margin:0;
			padding:3px 10px 3px 5px;
			border-bottom:1px solid #627282;
			text-decoration:none;
			color:#306ca6;
			text-align:right;
		}
		div.tab_subtab a:hover{
			background:#306ca6;
			color:#ffffff;
		}
div#center{
	position:absolute;
	left:0px;
	top:180px;
	width:100%;
	margin:0;
	padding:0;
}
	div#left_zone{
		/*position:absolute;
		left:0px;
		top:165px;*/
		float:left;
		width:223px; /* 232px total */
		margin: 0px 9px 0px 0px;
	}

		div#left_zone div.banner{
			float:left;
			width:163px;
			text-decoration:underline;
			padding:10px 30px 10px 30px;
			/*padding:10px 31px 10px 32px;*/
			/*text-align:center;*/
			color:#646464;
			font-size:9px;
		}

			div#left_zone div.banner img{
				display:block;
				margin-top:5px;
			}

	div#main_zone{
		/*position:absolute;
		left:232px;
		top:165px;*/
		float:left;
		width:710px;
		margin:0 0 10px 0;
		background:url(../images/main_bgd.jpg);
		background-position:top left;
		background-repeat:repeat-y;
	}
		div#main_zone div.open{
			float:left;
			width:710px;
			height:6px;
			margin:0px;
			background:url(../images/main_top_bgd.jpg);
			background-position:top left;
			background-repeat:no-repeat;
		}
		div#main_center{
			float:left;
			width:470px; /* 481px total */
			margin: 4px 0 0 0;
			padding:0 4px 0 7px;
		}

			div#divHelpForm{
				position:absolute;
				top:215px;
				left:237px;
				/*float:left;
				clear:both;
				width:100%;
				margin:0 0 10px 0;*/
				width:468px;
				background:#d1e6f2;
				border:1px solid #242775;
				z-index:300;
			}

			div#main_center h1{
				float:left;
				height:28px; /* 34px total */
				width:440px; /* 470px total */
				margin:0 0 5px 0;
				padding:6px 5px 0px 25px;
				/*padding:12px 5px 5px 30px;*/
				background:url(../images/main_header_bgd.jpg);
				background-repeat:no-repeat;
				background-position:top left;
				font-size:11px;
			}

			div#main_center div.main_section{
				float:left;
				width:470px; /* 470px total */
				margin:10px 0 10px 0;
				padding:0 0 10px 0;
				/*padding:6px 5px 0px 25px;*/
				border-bottom:1px dotted #c8c8c8;
			}

			div#main_center h2{
				margin:5px 0 0 0;
				padding:0 0 5px 0;
				font-size:12px;
				color:#627282;
			}

			div#breadcrumb{
				float:left;
				width:470px;
				margin:0 0 5px 0;
			}
				div#breadcrumb a{
					color:#505050;
				}
			div#toolbox{
				float:left;
				width:470px;
				margin:0 0 15px 0;
			}
				div#toolbox a{
					display:block;
					float:left;
					height:12px;
					color:#505050;
					text-decoration:none;
				}
				a#print{
					background:url(../images/icon_print.jpg);
					background-repeat:no-repeat;
					background-position:0 2px;
					padding:0 10px 0 15px;
				}
				a#send{
					background:url(../images/icon_send.jpg);
					background-repeat:no-repeat;
					background-position:0 0;
					padding:0 10px 0 20px;
				}
				a#help{
					background:url(../images/icon_help.jpg);
					background-repeat:no-repeat;
					background-position:0 0;
					padding:0 10px 0 10px;
				}
		div#main_right{
			float:left;
			width:223px; /* 229px total */
			padding:0 6px 0 0px;
		}
		div#main_zone div.close{
			float:left;
			width:710px;
			height:10px;
			background:url(../images/main_bottom_bgd.jpg);
			background-position:bottom left;
			background-repeat:no-repeat;
		}

	div#footer{
		float:left;
		width:942px;
		margin:20px 0 0 0;
		padding:30px 0 30px 0;
		border-top:8px solid #797f87;

		color:#646464;
	}
		div#footer div#left{
			float:left;
			width:400px; /* 420px total */
			padding:0 10px 0 10px;

		}
		div#footer div#right{
			float:left;
			width:502px; /* 522px total */
			padding:0 10px 0 10px;
			text-align:center;
		}

		div#footer a{
			color:#646464;
			text-decoration:none;
			border-bottom:1px dotted #646464;
		}
		div#footer img{
			vertical-align:bottom;
		}

ul.tab_submenu{
	position:absolute;
	top:164px;
	margin:0;
	padding:0;
	background:#ffffff;
	border:1px solid #627282;
	list-style: none;
	cursor:pointer;
	color:#306ca6;
}
